* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #b2ddb2;
}

#game-container {
  width: 600px;
  max-width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px 24px;
  padding: 5px;
  margin-top: 20px;
}

.game-info {
  width: 100%;
  height: 100px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}

.card-container {
  width: 100%;
  height: 100%;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}

.win-message {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  border: none;
  background: #6063a3;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 15px;
  font-weight: bold;
  padding: 8px 10px;
}

.win-message {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  box-shadow: none;
  color: #4caf50;
  font-size: 24px;
  font-weight: bold;
  height: 40px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front {
  background-image: url("./assets/african pattern.png");
  background-size: cover;
}

.back {
  background-color: #2196f3;
  color: white;
  transform: rotateY(180deg);
}
