* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #f0f0f0;
}

#game-container {
    width: 500px;
    max-width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.game-info {
    width: 100%;
    height: 100px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: white;
    border-radius: 10px;
}

.card-container {
    width: 100%;
    height: 100%;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    background: white;
    border-radius: 10px;
}

.win-message {
    width: 100%;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    box-shadow: none;
    color: #4CAF50;
    font-size: 24px;
    height: 40px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flipped .card-inner {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front {
    background-color: #4cc07b;
    color: white;
}

.back {
    background-color: #2196F3;
    color: white;
    transform: rotateY(180deg);
}

.matched .front,
.matched .back {
    background-color: #9C27B0;
    opacity: 0.8;
    pointer-events: none;
}

.reset-btn {
    padding: 15px;
    width: 100%;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #7dffb2 0, #2ecc71 100%);
    border: 0;
    border-radius: 6px;
    box-shadow:
        rgba(0, 60, 30, .45) 0 2px 4px,
        rgba(0, 50, 25, .35) 0 7px 13px -3px,
        rgba(0, 40, 20, .6) 0 -3px 0 inset;

    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    transition: box-shadow .15s, transform .15s;
    font-size: 18px;
}

.reset-btn:focus {
    box-shadow:
        #2ecc71 0 0 0 1.5px inset,
        rgba(0, 60, 30, .45) 0 2px 4px,
        rgba(0, 50, 25, .35) 0 7px 13px -3px,
        #1e874b 0 -3px 0 inset;
}

.reset-btn:hover {
    box-shadow:
        rgba(0, 70, 35, .5) 0 4px 8px,
        rgba(0, 60, 30, .4) 0 7px 13px -3px,
        #1e874b 0 -3px 0 inset;

    transform: translateY(-2px);
}

.reset-btn:active {
    box-shadow: #1e874b 0 3px 7px inset;
    transform: translateY(2px);
}